@charset "UTF-8";

h2 {
	text-align: center;
	text-decoration: underline;
}

table {
	width: 60%;
	margin: auto;
	border-collapse: collapse;
}

th {
	border: 1px solid rgb(180, 180, 180);
	border-top: 3px solid red;
	background-color: #eee;	
	height: 50px;
}

td {
	border: 1px solid rgb(180, 180, 180);
	text-align: center;
	height: 50px;
}